/*
.DS_Store
!.gitignore
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/Library
/Library/Homebrew/doc
/Library/Homebrew/test/.bundle
/Library/Homebrew/test/bin
/Library/Homebrew/test/vendor
/Library/Homebrew/test/coverage
/Library/Homebrew/test/fs_leak_log
/Library/Homebrew/vendor/portable-curl
/Library/Homebrew/vendor/portable-ruby
/Library/LinkedKegs
/Library/PinnedKegs
/Library/Taps
/Library/PinnedTaps
!/LICENSE.txt
!/README.md
!/SUPPORTERS
!/bin
/bin/*
!/bin/brew
!/go_to
/go_to/*
!/go_to/install
!/share
/share/*
!/share/doc
/share/doc/*
!/share/doc/homebrew
!/share/man
/share/man/*
!/share/man/man1
/share/man/man1/*
!/share/man/man1/brew.1
